{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

</head>
<body>
<div id="header">
    <span class="logo">Bookmarks</span>
    {% if request.user.is_authenticated %}
    <ul class="menu">
        <li {% ifequal section 'dashboard' %}class="selected"{% endifequal %}>
        <a href="{% url 'account:dashboard' %}">My dashboard</a>
        </li>
        <li {% ifequal section 'images' %}class="selected"{% endifequal %}>
        <a href="#">Images</a>
        </li>
        <li {% ifequal section 'people' %}class="selected"{% endifequal %}>
        <a href="#">People</a>
        </li>
    </ul>
    {% endif %}

    <span class="user">
    {% if request.user.is_authenticated %}
      Hello {{ request.user.first_name }},
      <a href="{% url 'account:logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'account:login' %}">Log-in</a>
    {% endif %}
  </span>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">✖</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<script src=" https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
<!--<script></script>-->
{% block js_login %}{% endblock %}
<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
            }
        }
    });


    $(document).ready(function () {
        {% block domready %}
        {% endblock %}
    });
</script>
</body>